@import './base.css';
p,h1, h2, tr {
  color: var(--text-primary-color);
}

.container-center {
  background-color: var(--background-color-primary);
  height: 100vh;
  width: 100vw;
  /* align-items: center; 
  justify-content: center; */
}

/* comp top cat display: */
.topCatTable {
  font-size: 20px;
  margin: 10px 10px;
  /* padding: 5rem 1rem; */
  height: 200px;
  width: 250px;
  text-align: center;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  background-color: var(--background-color-secondary);
  text-transform: capitalize;
}
.topCatTable_catTitle{
  padding: 2px;
  font-size: 18px;
}
.topCatLinks{
  text-decoration: none;
  color: var(--text-primary-color);
}
.topCatTable_catTitle:hover{
  text-decoration-line: underline;
  text-decoration-color: #f74300;
  /* transform: skew(-12deg) translateX(0%);
  background: #f74300; */
  
}
.topCatTable_catInfo{
  font-size: 15px;
}


/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
