
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  @import url('https://fonts.cdnfonts.com/css/avenir');
@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@300&display=swap');
@import './base.css';

/* add input ?  */
p,a, h1, h2, h3, span {
  color: var(--text-primary-color);
}
.container-center {
  background-color: var(--background-color-primary);
  height: 100vh;
  width: 100vw;
  /* align-items: center; 
  justify-content: center; */
}

.card {
margin: 10px 20px;
padding: 2rem 4rem;
height: 500px;
width: 200px;
text-align: center;
border: 1px solid var(--accent-color);
border-radius: 4px;
background-color: var(--background-color-secondary);
}

.card_post {
  margin: 10px 20px;
  padding: 2rem 4rem;
  /* height: 500px; */
  /* float: center; */
  width: 800px;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  background-color: var(--background-color-secondary);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  }

  ._newPostbutton{
margin-left: 80px;
border: 4px double #cccccc; 
border-radius: 10px; 
padding: 4px;
transition: all 0.5s;
cursor: pointer;
font-weight: bold;
background-color: var(--background-color-secondary);;
color: var(--text-primary-color);

}

.button_newPost:hover {
  color: #e87d4f;
}

  .post_user{
    font-style: italic;
    float:left;
    text-decoration: underline ;  
  }

  .post_date{
    font-style: italic;
    float:right;
    /* text-decoration: underline ;   */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .post_title, a{
    text-decoration: none;
    text-transform: capitalize;
    color: var(--text-primary-color);


  }

  .post_title:hover{
    /* text-decoration: underline; */
    color: #e87d4f;
    }
  .post_title ,a:hover{
    /* text-decoration: underline; */
    color: #e87d4f;
    }
    
  .post_content{
    border: solid 1px ; 
    border-radius: 10px; 
    padding-left: 20px;
  }
  
  .comment_text{
    color: var(--text-primary-color);
  }



  /* body {
    background-color:  #ffffff ; 
    font-family: "Roboto";
  } */
  
  .text{
    text-align:center;
    margin-left: 50px;
    color: #000000;
    text-shadow:
      0 0 42px rgb(0, 255, 255),
      0 0 82px rgb(0, 255, 225),
      0 0 92px rgb(0, 255, 229),
      0 0 102px rgb(0, 255, 247),
      0 0 151px rgb(0, 255, 242);
  }
  
  
  
  /* Barre de navigation */
  
  
  .display_posts {
    display: block;
    margin-left: 22%;

  }
  
  /* .content, .user , .date {
    grid-column: 1;
    grid-row: 1;
  } */

/* .float_container{
position: sticky
} */

/* comp top cat display: */
.topCatTable {
  font-size: 20px;
  margin: 10px 10px;
  padding: 0rem 2rem;
  height: 200px;
  width: 270px;
  text-align: center;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  background-color: var(--background-color-secondary);
  text-transform: capitalize;
  position:fixed;
}

.topCatTable_catTitle{
  font-size: 18px;
}

.topCatLinks{
  text-decoration: none;
  color: var(--text-primary-color);
}
.topCatTable_catTitle:hover{
  /* text-decoration-line: underline; */
  text-decoration-color: #f74300;
  /* transform: skew(-12deg) translateX(0%);
  background: #f74300; */
}

.topCatTable_catInfo{
  font-size: 15px;
}

/* Navbar container */
.navbar {
  padding-right: 0%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 10%;
}

.login {
  border-radius: 3px;
  background-color: var(--background-color-primary);
  width: 60px;
  height: 30px;
}

.logo-search {
  background: url('/loupeblack.png') no-repeat;
  width: 50px;
  height: 50px;
  background-size: contain;
}

.bar-search {
  width: 30%;
  border: none;
  display: flex;

}

.bar-search-input {
  width: 100%;
  border: none;
  height: 30px;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border-radius: 20%;
  border: none;
  outline: none;
  background-color: inherit;

  /* Important for vertical align on mobile phones */
}



/* Add a background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
  color: var(--text-secondary-color);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  border-radius: 10%;
  display: none;
  position: absolute;
  background-color: var(--background-color-secondary);
  padding: 12px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 8px;
  text-decoration: none;
  display: block;
  text-align: left;
  color: var(--text-primary-color);
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: var(--background-color-primary);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.adminmenu {
  text-align: left;
  margin-top: 30px;

  background-color: var(--background-color-primary);
  border: 1px solid var(--border-color-primary);
  width: 150px;
  border-radius: 5px;
  max-height: 200px;
  padding-bottom: 10px;
  width: 150px;
}

.bodyadmin {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}

.contentadmin {
  width: 60%;

}

.h1 {
  color: var(--text-primary-color);

}

.titlemenu {
  color: var(--text-primary-color);
  border-bottom: 1px solid var(--border-color-primary);



}

.divmenu {
  text-align: center;
}

.contentmenu {
  margin: 20px
}

.bodycontentadmin {
  display: flex;

}

.crud {
  width: 100%;
}

.crudtable {
  border: 1px black solid;
  border-radius: 5px;
}

.crudcreate {
  border-radius: 3px;
  background-color: var(--background-color-primary);
  border: 1px solid var(--border-color-primary);
  color: var(--text-primary-color);
}

.crudcreate:hover {
  border-radius: 3px;
  background-color: var(--hover-text-primary-color);
  border: 1px solid var(--border-color-primary);
  color: #F74300;
  cursor: pointer;
}

.admin_edit {
  background-color: #BFBFBF;
  border-radius: 3px;
  border: none;
  color: #1E2019;
}

.admin_edit:hover {

  color: #F74300;
  cursor: pointer;
}

.admin_delete {
  background-color: #ff5666;
  border-radius: 3px;
  border: none;
  color: #FBF7F4;
  font-weight: bold;

}

.admin_delete:hover {

  color: black;
  cursor: pointer;
}

.selectadmin {
  width: -webkit-fill-available;
}

.inputdate {
  width: -webkit-fill-available;

}

.value {
  color: #F74300
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-inner {
  background-color: var(--background-color-primary);
  color: var(--text-primary-color);
  text-align: center;
  padding: 32px;
  border-radius: 5px;



}

.popup-inner input {
  border: none;
}

.cancel {
  background-color: #FF5666;
  border: none;
  border-radius: 3px;
  color: #FBF7F4;
  cursor: pointer;
  font-weight: bold;
  height: 25px;
}

.confirm {
  background-color: #8FD694;
  border: none;
  border-radius: 3px;
  margin-right: 5px;
  color: #FBF7F4;
  cursor: pointer;
  font-weight: bold;
  height: 25px;
  margin-top: 10px;
}

/* 

light theme 
* #FBF7F4 fond tableau
* #37393A border
* #F74300 couleur police option 

dark theme 
* #1E2019 fond tableau
* #FBF7F4 border
* #F74300 couleur police option 


} */

.crudtable {
  margin: 10px;
  border: 1px solid #37393A;
  background-color: #FBF7F4;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.crudtable td,
.crudtable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}

.crudtable tbody td {
  font-size: 13px;
}

.crudtable tr:nth-child(even) {
  background: #E8E4E2;
}

.crudtable thead {
  background: #1E2019;
  border-bottom: 2px solid #1E2019;
}

.crudtable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FBF7F4;
  text-align: center;
  border-left: 2px solid #FBF7F4;
}

.crudtable thead th:first-child {
  border-left: none;
}

.crudtable tfoot td {
  font-size: 14px;
}

.crudtable tfoot .links {
  text-align: right;
}

.crudtable tfoot .links a {
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}



/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

#app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

*/